.heading {color: black; text-align: center; padding-left: 70px; font-weight: bold; 
  font-size: 25px; font-family: 'Helvetica';}
.memory {color: black; text-align: center; padding-left: 70px; font-size: 12px; 
  font-family: 'Helvetica'; font-weight: bold;}
.service, .survivors, .traditions, .donations {color: black; text-align: left; font-size: 14px; 
  font-family: 'Helvetica'; font-weight: bold;}
p{color: black; text-align: left; font-size: 12px; 
  font-family: 'Helvetica'; font-weight: normal;}




